.descripcion_del_producto{
    max-width: 130rem;
    padding: 5rem;
    margin: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#daclick{
    margin-top: 5rem;
    text-align: center;
}
.one{
    width:fit-content;
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;   
    justify-content:space-evenly;
    align-self: center;
    border-radius: 2rem;
    box-shadow: 6px 6px 21px -2px rgba(117,117,117,0.61);
    -webkit-box-shadow: 6px 6px 21px -2px rgba(117,117,117,0.61);
    -moz-box-shadow: 6px 6px 21px -2px rgba(117,117,117,0.61);
}


.two{
    padding-left: 15rem;
}
.contenedor_img{
    height: 30rem;
    width: 30rem;
    margin-right: 3rem;
}
.contenedor_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.contenedor_texto{
    width: 35rem;
    align-self: center;
    text-align: justify;
}
.contenedor_texto span{
    font-size: 3rem;
    font-weight: 600;
}
.contenedor_texto p {
    font-size: 2rem;
}
.contenedor_texto h2{
    margin-top: 2.3rem;
    font-size: 2.5rem;
}
.two h4{
    font-size: 2rem;
}
.two ul{
    font-size: 1.5rem;
}
.opc-compra{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.opc-compra span{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 4rem;
  
}

.ocultar{
    display: none;
}
.btn-compra{
    display: flex;
    justify-content:space-evenly;
    margin-top: 2rem;
}
.btn-compra div{
    font-size: 2rem;
    color: black;
    font-weight: 600;
    border: 1px solid var(--color1);
    padding: 1rem 3rem;
    border: 1px solid var(--color1);
    border-radius: 2rem;
    cursor: pointer;
}

.btn-compra :hover{
    background-color: var(--color1);
    color: white;
    transition: 0.3s;
}
.regresar-btn{
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    cursor: pointer;
    border: none;
    background-color: white;
    align-self: flex-start;
}